<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1a126d">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
     <nav class="navbar navbar-default">
      <div class="container-fluid">
       <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
           <span class = "icon-bar"></span>
           <span class = "icon-bar"></span>
           <span class = "icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Home</a>
       </div>
       <div class="collapse navbar-collapse" id="mainNavBar">
        <ul class="nav navbar-nav">
          <li {% if active_page == "home" %} class = "active"{% endif %}><a href= "/.">Home</a></li>
          <li {% if active_page == "ftm" %} class = "active"{% endif %}><a href="/ftm">Feet to Meters</a></li>
          <li {% if active_page == "etm" %} class = "active"{% endif %}><a href= "/etm">Earth to Mars Weight</a></li>
          <li {% if active_page == "Ltml" %} class = "active"{% endif %}><a href= "/Ltml">Liters to Milliliters</a></li>
        </ul>
      </div>
     </div>
    </nav>
    {% block info %}{% endblock %}
  </body>
</html>
